.courses-card {
    height: 510px;
    box-shadow: 3px 3px 3px gray;
    transition: 0.5s;
}

.courses-card:hover {
    transform: scale(1.05);
}

.courses-card .course-img {
    height: 200px;
    width: 100%;
}